html, body { 
    margin: 0; 
    padding: 0; 
}

.todo-app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.todo-app h2{
    text-align: center;
}
.todo-app ul {
    padding-left: 0; /* Liste için sol iç boşluğu sıfırla */
}


.todo-app {
    width: 45%;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.todo-app h1 {
    text-align: center;
}

.button{
    margin-left: 2rem;
}

/* TodoApp.css */
.notification {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #4caf50;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
}

.deleted {
    background-color: red;
}

/* TodoApp.css */
.notification.completed {
   background-color: blue;
}

.notification.readded {
    background-color: rgb(159, 159, 38);

}

.notification.duplicated{
    background-color: #681504;
}

.filter-input input {
  margin-top: 0.5rem;
  }